<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aan Zee - Directives // Input Stepper</title>
    <link rel="stylesheet" href="../dist/css/vendor/pikaday.css">
</head>
<body ng-app="myApp" ng-controller="myController">

    <h3>Basic date picker</h3>
    <p>You have chosen: {{myDate1}}</p>
    <date-picker ng-model="myDate1"></date-picker>

    <h3>Date picker <small>with default, minimum and maximum date</small></h3>
    <p>You have chosen: {{myDate2}}</p>
    <date-picker ng-model="myDate2" default-date="2015-08-08" min-date="2015-08-01" max-date="2015-08-28"></date-picker><br>
    <p>You have chosen: {{myDate3}}</p>
    <date-picker ng-model="myDate3" default-date="{{tomorrow}}" min-date="{{tomorrow}}" max-date="{{endDate}}"></date-picker><br>
    <small>These values are straight out of the controller</small>

    <h3>Date picker <small>with a custom format</small></h3>
    <p>You have chosen: {{myDate4}}</p>
    <date-picker ng-model="myDate4" format="dd D MMM YYYY"></date-picker>

    <h3>Date picker <small>with translations</small></h3>
    <p>You have chosen: {{myDate5}}</p>
    <date-picker ng-model="myDate5" format="dd D MMM YYYY" locale="en"></date-picker><br>
    <date-picker ng-model="myDate6" format="dd D MMM YYYY" locale="de"></date-picker><br>
    <date-picker ng-model="myDate7" format="dd D MMM YYYY" locale="nl"></date-picker><br>
    <small>Check the source, for a translated date format you'll need to include moment.js's locale files. Also in myController you define your locales.</small>

    <h3>Date picker <small>with multiple months</small></h3>
    <p>You have chosen: {{myDate8}}</p>
    <date-picker ng-model="myDate8" number-of-months="3"></date-picker><br>

    <h3>Date picker <small>with disabled weekends</small></h3>
    <p>You have chosen: {{myDate9}}</p>
    <date-picker ng-model="myDate9" disable-weekends="true"></date-picker><br>

    <h3>Date picker <small>with monday as the day to start the week</small></h3>
    <p>You have chosen: {{myDate10}}</p>
    <date-picker ng-model="myDate10" first-day="1"></date-picker><br>

    <h3>Date picker <small>with custom classes</small></h3>
    <p>You have chosen: {{myDate11}}</p>
    <date-picker ng-model="myDate11" classes="{'pickerWrapper': 'form-date-picker', 'pickerInput': 'form-date-picker__input'}"></date-picker><br>

    <h3>Date picker <small>disabled</small></h3>
    <p>You have chosen: {{myDate12}}</p>
    <date-picker ng-model="myDate12" default-date="{{tomorrow}}" ng-disabled="true == true"></date-picker><br>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../dist/js/vendor/moment.js"></script>
    <script src="../dist/js/vendor/nl.js"></script>
    <script src="../dist/js/vendor/de.js"></script>
    <script src="../dist/js/vendor/pikaday.js"></script>
    <script src="../dist/js/directives.min.js"></script>
    <script>
        (function () {
            angular.module('myApp', ['aanZeeDirectives.datePicker']).value('options', {viewPath: '../dist/views/aanzee/directives/'});
            angular.module('myApp').controller('myController', ['$scope', '$timeout', function ($scope, $timeout) {
                // For the sake of this example
                $scope.tomorrow = moment().add(1, 'days').format('YYYY-MM-DD');
                $scope.endDate = moment().add(1, 'days').add(12, 'months').format('YYYY-MM-DD');

                // Define your locales and translations
                $scope.locales = {
                    de: {
                        previousMonth: 'Vorheriger Monat',
                        nextMonth: 'Nächster Monat',
                        months: ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"],
                        weekdays: ["Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag"],
                        weekdaysShort: ["So.", "Mo.", "Di.", "Mi.", "Do.", "Fr.", "Sa."]
                    },
                    nl: {
                        previousMonth: 'Vorige maand',
                        nextMonth: 'Volgende maand',
                        months: ["januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december"],
                        weekdays: ["zondag", "maandag", "dinsdag", "woensdag", "donderdag", "vrijdag", "zaterdag"],
                        weekdaysShort: ["zo", "ma", "di", "wo", "do", "vr", "za"]
                    },
                    en: {
                        previousMonth: 'Previous Month',
                        nextMonth: 'Next Month',
                        months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        weekdays: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                        weekdaysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
                    }
                };
                // Is nice but is not suitable for multiple date pickers on one page
                $scope.$on('dateSelected', function(event, date){
                    console.log('myController a Date Selected!', date);
                });
                // Is the best way to determine if there was a new date selected, also works with multiple date pickers on one page
                $scope.$watch('myDate1', function(oldValue, newValue){
                    console.log('myController myDate1 Date Changed!', oldValue, newValue);
                });
                // All pickers on the page, see you can use all the picker functions of the Pikaday library
                $timeout(function(){
                    console.log($scope.pickers, $scope.pickers.myDate1.getDate());
                });
            }]);
        })();
    </script>

</body>
</html>