<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aan Zee - Directives // Input Stepper</title>
</head>
<body ng-app="myApp" ng-controller="myController">

    <h3>Basic stepper</h3>
    <p>You have chosen: {{myCounter1}}</p>
    <input-stepper ng-model="myCounter1"></input-stepper>

    <h3>Stepper <small>with label</small></h3>
    <p>You have chosen: {{myCounter2}}</p>
    <input-stepper ng-model="myCounter2" label="Choose a number"></input-stepper>

    <h3>Stepper <small>with min and max</small></h3>
    <p>You have chosen: {{myCounter3}}</p>
    <input-stepper ng-model="myCounter3" min="1" max="10"></input-stepper>

    <h3>Stepper <small>with step</small></h3>
    <p>You have chosen: {{myCounter4}}</p>
    <input-stepper ng-model="myCounter4" step="10"></input-stepper>

    <h3>Stepper <small>disabled</small></h3>
    <p>You have chosen: {{myCounter5}}</p>
    <input-stepper ng-model="myCounter5" ng-disabled="true === true"></input-stepper>
    <p>This works with ng-disabled, pass in a boolean and it will disable or enable. It also adds the class 'is-disabled'.</p>

    <h3>Stepper <small>with custom classes</small></h3>
    <p>You have chosen: {{myCounter6}}</p>
    <input-stepper ng-model="myCounter6" classes="{'increaseButton': 'form-stepper__stepper-button', 'decreaseButton': 'form-stepper__stepper-button', 'input': 'form-stepper__stepper-input', 'label': 'form-stepper__stepper-label', 'wrapper': 'form-stepper'}"></input-stepper>

    <h3>Stepper <small>custom icons</small></h3>
    <p>You have chosen: {{myCounter7}}</p>
    <input-stepper ng-model="myCounter7" icon-increase="X" icon-decrease="I"></input-stepper>

    <h3>Stepper <small>custom start value</small></h3>
    <p>You have chosen: {{myCounter8}}</p>
    <input-stepper ng-model="myCounter8" value="6"></input-stepper>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-sanitize.min.js"></script>
    <script src="../dist/js/directives.min.js"></script>
    <script>
        (function () {
            angular.module('myApp', ['ngSanitize', 'aanZeeDirectives.inputStepper']).value('options', {viewPath: '../dist/views/aanzee/directives/'});
            angular.module('myApp').controller('myController', ['$scope', function ($scope) {}]);
        })();
    </script>

</body>
</html>